.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@keyframes zoom-pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.8); 
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 12px 3px rgba(239, 68, 68, 1);
  }
}

.animate-zoom-pulse {
  animation: zoom-pulse 1.2s ease-in-out infinite;
}


.group:hover .fa-bell {
  animation: shake 0.5s ease-in-out;
}
      
@keyframes shake {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
}


